<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
      <div  class="main-content">
{{>header}}
<img class="portrait" src="/img/avatar.jpg" />
    </div>
    
    {{>footer}}

  </body>
</html>
