<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>
  <body>
    <div  class="main-content">
      {{>header}}
      <p>Use this site to get your weather!!</p>
      <form>
        <input placeholder="Location"/>
        <button>Search</button>
      </form>
      <p id="messageOne"></p>
      <p id="messageTwo"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>
